.countries-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.countries-list-item {
  --li-height: 80px;

  display: grid;
  grid-template-columns: 78px 1fr 560px;
  margin-bottom: 20px;
  height: var(--li-height);
  line-height: var(--li-height);
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 760px) {
  .countries-list-item {
    --li-height: 60px;
  }
}

@media (max-width: 1360px) {
  .countries-list-item {
    grid-template-columns: 78px 1fr 300px;
  }
}

@media (max-width: 1000px) {
  .countries-list-item {
    grid-template-columns: 78px 1fr 250px;
  }
}

.countries-list-item:first-child {
  color: white;
  background-color: #2196F3;
}

.countries-list-item:nth-child(n+2):active {
  background-color: #EC1C23;
}

.countries-number {
  position: relative;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.countries-number::after {
  position: absolute;
  margin-left: 100%;
  content: "";
  height: var(--li-height);
  width: 1px;
  background-color: white;
}

.countries-list-item:nth-child(n+2) .countries-number::after {
  position: absolute;
  margin-left: 100%;
  content: "";
  height: var(--li-height);
  width: 1px;
  background-color: #B2B2B2;
}

.container {
  padding: 0 23px;
}

.container:nth-child(3) {
  padding-left: 0;
}

.container:nth-child(3)::before {
  position: absolute;
  margin-right: 32px;
  content: "";
  height: var(--li-height);
  width: 1px;
  background-color: white;
}

.countries-list-item:nth-child(n+2) .container:nth-child(3)::before {
  position: absolute;
  content: "";
  height: var(--li-height);
  width: 1px;
  background-color: #B2B2B2;
}

.countries-list-info {
  margin-left: 23px;
  margin-right: 23px;
}