body {
  margin: 40px 60px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 28.13px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 1000px) {
  body {
    margin: 20px 20px;
    font-size: 20px;
    line-height: 20px;
  }
}

pre {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
